html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Nirmala UI";
  background-color: #ececec;
  font-size: large;
}

#header {
  padding: 50px;
  padding-bottom: 20px;
  background-color: #ececec;
}

#content {
  height: 100%;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  box-shadow: 0px -3px 6px #0000003b;
  border-radius: 15px 15px 0px 0px;
  background-color: #fcfcfc;
}

.span-toggle {
  display: table; margin: 0 auto;
}

.toggle input[type="checkbox"] + span::before {
  width: 34px;
  height: 22px;
  border-radius: 16px;
}

.toggle input[type='checkbox'] + span::after {
  width: 18px;
  height: 18px;
}
